a {
	color: #009FDA;
	text-decoration: none;
}
a:hover {
	color: #00BAFF;
}

.ui.footer.horizontal.link.list {
	display: block;
	text-align: center;
	margin-bottom: 1.5rem;
}

.ui.list .item .red.description {
	color: #A95252;
}