<template name="communities">
	<div class="ui grid">
		<div class="two wide column"></div>
		<div class="twelve wide column">
			<h2 class="ui header">
	  			<i class="users icon"></i>
	  			<div class="content">
	    			Communities
	    			<div class="sub header">Select a community</div>
	  			</div>
			</h2>
			<div class="ui relaxed divided list">
				{{#each communities}}
		  			<div class="item">
		  				{{#if isPublic this}}
		    				<i class="unlock alternate icon"></i>
		    			{{else}}
		    				<i class="lock icon"></i>
		    			{{/if}}
		    			<div class="content">
		      				<a class="header" href="/{{uid}}">{{title}}</a>
		      				<div class="description">Updated {{formatDate updated}} / {{members}} members</div>
		      				<div class="description">{{formatSummary summary}}</div>
		    			</div>
		    		</div>
	    		{{/each}}
	    	</div>
    	</div>
    </div>
</template>