<template name="community">
	<div class="ui grid">
		<div class="three wide column">
			<div class="ui secondary vertical pointing menu">
				<div class="header item">Sort By</div>
  				<a class="{{activeSort 'alphabet'}} item alphabetically">
    				<i class="sort alphabet icon"></i> Alfabetisch
  				</a>
  				<a class="{{activeSort 'koffiekoeken'}} item koffiekoeken">
    				<i class="sort attributes descending icon"></i> Koffiekoeken
  				</a>
			</div>
		</div>
		<div class="ten wide column">
			<div class="ui breadcrumb">
				<a class="section" href="/">Communities</a>
				<i class="right arrow icon divider"></i>
				<div class="active section">{{community.title}}</div>
			</div>
			<h2 class="ui header">
	  			<i class="users icon"></i>
	  			<div class="content">
					{{community.title}}
	  			</div>
			</h2>
			
			<div class="ui relaxed divided list">
				{{#each profiles}}
					{{> profile}}
				{{/each}}
			</div>
		</div>
</template>

<template name="profile">
	<div class="item">
		<img class="ui avatar image" src="http://www.gravatar.com/avatar/{{mail}}?d=mm" />
		<div class="content">
			<div class="header">{{displayName}}</div>
		</div>
		<div class="right floated description {{koffiekoekenAmount koffiekoeken}}">
			{{koffiekoeken}} koffiekoeken
			<div class="ui buttons">
				 <button class="mini ui button add" data-amount="1">+1</button>
				 <button class="mini ui button add" data-amount="-1">-1</button>
				 {{#if isLaurens this}}
				 	<button class="mini ui button add" data-amount="-100">-100</button>
				 {{/if}}
			</div>
		</div>
	</div>
</template>