<template name="layout">
	<div class="container">
		{{#if isLoggedIn}}
			{{> navigation}}
			{{yield}}
		{{else}}
			{{> login}}
		{{/if}}
	</div>
	
	<div class="ui divider"></div>
	<div class="ui divided horizontal footer link list">
		<div class="item">Dimitri Mestdagh</div>
			<a href="https://github.com/g00glen00b/meteor-ibm-connections" class="item">Github</a>
			<div class="item">
				Built with <a href="http://www.meteor.com" target="_blank">Meteor</a>
			</div>
			<div class="item">
				UI with <a href="http://semantic-ui.com" target="_blank">Semantic UI</a>
			</div>
			<div class="item">
				<a href="http://g00glen00b.github.io/meteor-ibm-connections" target="_blank">Slides</a>
			</div>
		</div>
</template>